@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&family=Rock+Salt&family=Source+Code+Pro&display=swap');

body {
  background-color: #778472;
  background-image: url(https://media.istockphoto.com/vectors/fruits-and-vegetables-seamless-pattern-vector-id1145430255?k=20&m=1145430255&s=612x612&w=0&h=rT49nNEgQkFNbaGvyGx38c4RZ1YA1tjFbRV6tQFtgSE=);
  color: #4b551e;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
